<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vyankatesh.interestingfacts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.vyankatesh.interestingfacts.RandomFacts" />
        <activity android:name="com.vyankatesh.interestingfacts.Facts" />
        <activity android:name="com.vyankatesh.interestingfacts.QuestFacts" />
        <activity
            android:name="com.vyankatesh.interestingfacts.MainActivity"
            android:label="Interesting Facts"
            android:rotationAnimation="rotate"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vyankatesh.interestingfacts.Help" />
    </application>

</manifest>